<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<%= link_to image_tag("deann.jpg", alt: "Rails"), 'http://www.qatar.cmu.edu/' %>
<br><br><p>
	Hello,
	</p>
  	Fun is an online registration system for students,
</p>
<p>
	Team Fun.
</p>