<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<%= link_to image_tag("dean.jpg", alt: "Rails"), 'http://www.qatar.cmu.edu/' %>
<br>
<br><p>
  Hello,
</p>
<p>
  You can contact us at info@fun.com,
</p>
<p>
 Team Fun
</p>