<% provide(:title, 'Help') %>
<h1>Help</h1>
<%= link_to image_tag("haya.jpg", alt: "Rails"), 'http://www.qatar.cmu.edu/' %>
<br>
<br>
<p>
  	Hello, 
</p>
<p>
	If you need help go to student affairs,
	</p>
	Team Fun.
</p>