<div class="center hero-unit">
  <h1>Welcome to Fun</h1>

  <h2>
    Registration is one click away!
  </h2>
<div>
<%= link_to image_tag("campus.jpg", alt: "Rails"), 'http://www.qatar.cmu.edu/' %>
</div>
<br>
<div>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>
</div>

